@model pizzaria_reges.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Criar pedido</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-produtoId="@ViewBag?.pizza.Id">
                @if (ViewBag != null)
                {
                    <h4>Detalhes do pedido</h4>
                    <div class="form-group">
                        <label class="control-label">Pizza escolhida</label>
                        <input value=" @ViewBag?.pizza.Nome" class="form-control" disabled="true">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Preço</label>
                        <input value="@ViewBag?.pizza.Preco" class="form-control" disabled="true">
                    </div>
                }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fk_ClienteID" class="control-label" hidden=true></label>
                <input asp-for="fk_ClienteID" class="form-control" value="@Model.fk_ClienteID" hidden="true"/>
                <span asp-validation-for="fk_ClienteID" class="text-danger"></span>
            </div> 
            <div class="form-group" style="padding: 5px">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@Model.fk_ClienteID" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>


